.logo {
	float: left;
	width: 8vw;
	height: 4vw;
	margin: 2vw;
	margin-left: 4vw;
}
header {
	font-family: georgia;
	line-height: 9vw;
	text-align: center;
	background-color: whitesmoke;
	font-size: 3vw;
	border-bottom-style: solid;
}
body {
	background: url(image1.jpeg);
	opacity: 0.8;
	background-size: 100vw 70vw;
}
*
{
	margin: 0px;
}
nav ul li {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  width: 8.8vw;
  margin-left: -3.2vw;
  height: 6vw;
}
nav ul li a{
  text-decoration: none;
line-height: 3.6vw;
color:  whitesmoke;
font-family: georgia;
display: block;
padding: 1vw 1.5vw;
font-size: 1.2vw;
background-color: black;
border-style: solid;
}
li a:hover {
  background-color: #055b92;
}
