.logo {
	float: left;
	width: 9vw;
	height: 4vw;
	margin: 1.8vw;
	margin-left: 0.8vw;
}
.header {
	font-family: georgia;
	line-height: 8.8vw;
	text-align: center;
	background-color: whitesmoke;
	font-size: 3vw;
	border-bottom-style: solid;
}
body {
	background: url(image1.jpeg);
	opacity: 0.8;
	background-size: cover;
}
*
{
	margin: 0px;
}
.nav ul li {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  width: 113px;
  margin-left: -40px;
  height: 70px;
}
.nav ul li a{
  text-decoration: none;
line-height: 40px;
color:  whitesmoke;
font-family: georgia;
display: block;
padding: 15px 15px;
font-size: 16px;
background-color: black;
border-style: solid;
}
.nav li a:hover {
  background-color: #055b92;
}

[class*="col-"] {
  float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 26.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
