.logo {
	float: left;
	width: 8vw;
	height: 4vw;
	margin: 2vw;
	margin-left: 4vw;
}
header {
	font-family: georgia;
	line-height: 9vw;
	text-align: center;
	background-color: whitesmoke;
	font-size: 3vw;
	border-bottom-style: solid;
}
body {
	background: url(image1.JPEG);
	opacity: 0.8;
	background-size: 100vw 70vw;
}
*
{
	margin: 0px;
}
nav ul li {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  width: 8.8vw;
  margin-left: -3.2vw;
  height: 6vw;
}
nav ul li a{
  text-decoration: none;
line-height: 3.6vw;
color:  whitesmoke;
font-family: georgia;
display: block;
padding: 1vw 1.5vw;
font-size: 1.2vw;
background-color: black;
border-style: solid;
}
li a:hover {
  background-color: #055b92;
}
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
